<f:if condition="{folders}">
    <f:then>
        <div class="panel panel-default">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-nowrap">
                        <f:translate key="LLL:EXT:single_signon/Resources/Private/Language/Module/locallang_mod.xlf:new.mappingtable.folder.name"/>
                    </th>
                    <th class="text-nowrap">
                        <f:translate key="LLL:EXT:single_signon/Resources/Private/Language/Module/locallang_mod.xlf:new.mappingtable.folder.uid"/>
                    </th>
                    <th class="text-nowrap">
                        <f:translate key="LLL:EXT:single_signon/Resources/Private/Language/Module/locallang_mod.xlf:new.mappingtable.folder.users"/>
                    </th>
                    <th class="col-control nowrap"></th>
                </tr>
                </thead>

                <tbody>
                <f:for each="{folders}" as="folder">
                    <tr>
                        <td>{folder.title}</td>
                        <td>{folder.uid}</td>
                        <td>{folder.users}</td>
                        <td class="col-control nowrap">
                            <div class="btn-group" role="group">

                                <f:link.action action="createForm" arguments="{folderUid: folder.uid}"
                                               class="btn btn-default">
                                    <core:icon identifier="actions-document-new"/>
                                </f:link.action>
                            </div>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </f:then>
    <f:else>
        <div class="row">
            <div class="col-sm-12">
                <f:be.infobox state="-1" title="{f:translate(key: 'LLL:EXT:single_signon/Resources/Private/Language/locallang_mod.xlf:new.mappingtable.no-folder')}"/>
            </div>
        </div>
    </f:else>
</f:if>

